
/* Navbar.css file */

*{
  box-sizing:border-box;
  margin:0px;
  padding:0px;
}

body{
  background-color:rgb(122, 122, 152);
  background-image: url(''); /* Path to your image */
  background-size: cover; /* Ensures the image covers the entire screen */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.nav-button p{
  
  padding:10px;
  color:red;
  /* background-color:white; */
  border:1px solid black;
  border-radius:5px;
}

